@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: sans-serif;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, #F2C)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}


/* SHAPE DIVIDERS */

/* CONTACT-US PAGE: */

.contact-section-top-wave {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.contact-section-top-wave svg {
    position: relative;
    display: block;
    width: calc(221% + 1.3px);
    height: 61px;
    transform: rotateY(180deg);
}

.contact-section-top-wave .shape-fill {
    fill: #f7f8fc;
}

.contact-section-bottom-wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.contact-section-bottom-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.contact-section-bottom-wave .shape-fill {
    fill: #f7f8fc;
}
